.music-bg {
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgb(24, 24, 24),
    rgb(44, 44, 44),
    rgb(63, 63, 63),
    rgb(85, 85, 85),
    rgb(121, 121, 121),
    rgb(167, 167, 167),
    rgb(194, 194, 194),
    white,
    rgb(71, 71, 71)
  );
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}
.titilem {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.seven-eight-title {
  font-size: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.musicbutton {
  margin-left: 30%;
  font-size: 15px;
  height: 30px;
  border-radius: 20px;
}
